.car {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  border-bottom: 3px dashed #fff;
}

.car__controls {
  display: flex;
  gap: 0.2em;
  border: 0;
  padding: 0;
  margin: 0;
  order: 0;
}

.car__name {
  order: 1;
  margin: 0;
  padding-left: 1em;
}


.car__track {
  position: relative;
  width: 100%;
  height: 3em;
  display: flex;
  order: 2;
  align-items: end;

  margin-right: 5.5em;

  &:after {
    content: '🏁';
    position: absolute;
    right: 0;
    font-size: 2em;
    z-index: -1;
  }
}

.car--drive {
  .car__image {
    transform: skew(10deg);
  }
}

.car--finish {
  .car__image {
    transform: none;
  }
}

.car__image {
  width: 5em;
  height: calc(5em * 0.33984375);
  position: relative;
  left: 0;
  position: relative;
  z-index: 10;

  svg {
    width: 100%;
    height: 100%;
  }

  .car--drive & {
    transition: left 1ms linear;
    left: 100%;

    svg {
      filter: drop-shadow(-5px 0 2px rgba(255, 255, 255, 0.5));
    }
  }

  .car--crash & {
    &:after {
      content: '🔥';
      position: absolute;
      right: 0;
      top: -0.2em;
      z-index: -1;
    }
  }

  .car--finish & {
    svg {
      filter: none;
    }
  }
}

.car__controls {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.2em 0.15em;
    margin: 0;
    vertical-align: middle;
  }

  .button i {
    display: none;
  }

  .button--update:before {
    content: '✏️';
  }

  .button--remove:before {
    content: '❌';
  }

  .button--start:before {
    content: '▶️';
  }

  .button--stop:before {
    content: '⏹️';
  }
}