.garage {
  position: relative;
}

.garage .garage__controls {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fair {
  margin-left: 1em;
  display: none;

  input {
    margin-right: 0.5em;
  }
}

.fair--show {
  display: inline;
}

.modal {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  max-width: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
  text-shadow: 0 2px 15px orange;
  text-align: center;
  z-index: 100;
}

.modal--show {
  display: block;
}

.error {
  display: none;
  margin-top: 0.5em;
  font-size: 0.8em;
}

.error--show {
  display: block;
}