.garage {
  position: relative;
}

.garage .garage__controls {
  padding-top: 1em;
}

.modal {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  max-width: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
  text-shadow: 0 2px 15px orange;
  text-align: center;
  z-index: 100;
}

.modal--show {
  display: block;
}